body { /* Visual */
  
    background-image: url("../image/starwars.jpg");
    background-size: cover;
  
 }

 
  
  
  #display {
    font-family: monospace;
    font-size: 120px;
    color: green;


  }
  
  #wrapper {

    width: 500px;
  
    /* Positioning */
    margin: 50px auto 0;
  }
  
  #buttons { /* Typography */
    text-align: center;
  }
  
  button {
    width: 100px;

    height: 50px;
  }
  
  .char, .header, .star{
    color:  #f7f309;
  }

  html {
  margin: 0;
  height: 100%;
}


.hit-the-floor {
  color: rgb(15, 80, 84);
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
  

  #cover{
 background-color: #f7f309;
  }


  .hit-the-floor {
    text-align: center;
  }

  h2{
    color: rgb(15, 80, 84);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }

    h3{
      color: rgb(15, 80, 84);
      font-size: 1em;
      font-weight: bold;
      font-family: Helvetica;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
      }
  

      #result1, #result2{
        color: #f7f309;
      }


      .imageHolder {
        position: relative;
        width: 285px;
        height: 175px;
    }
    .imageHolder .caption {
        position: absolute;
        width: 283px;
        height: 50px;
        bottom: 0px;
        left: 0px;
        color: #ffffff;
        background: green;
      text-align:center;
      font-weight:bold;
      opacity:0.7;
    }
  